<!DOCTYPE html>
<html>
    <head>
        <title>Leila's Blog</title>
    </head>
    <body>
        <p>Welcome to my blog!</p>
        <p>Django!</p>
        <em>cool.</em>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 28.04.2022, 15:26</time>
            <h2><a href="">My first post</a></h2>
            <p>Hello from vim.</p>
        </article>

        <article>
            <time>published: 28.04.2022, 15:26</time>
            <h2><a href="">My second post</a></h2>
            <p>Hello again from vim.</p>
        </article>
    </body>
</html>
